<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>页面2</title>
</head>

<body>
<div class="top">
    <div class="logo"><img src="../../static/images/logo.gif" width="187" height="47"></div>
</div>

<div class="nav">
    <div class="table_title">Confirm Claim Ride</div>
    <div class="san">
        <br>
        <uL>
            <li align="center"><strong>Order ID:</strong></li>
            <li style=" padding-left:10px;"><samp id="ID">start</samp></li>
            <li align="center"><strong>Start:</strong></li>
            <li style=" padding-left:10px;"><samp id="start">start</samp></li>
            <li align="center"><strong>Destination:</strong></li>
            <li style=" padding-left:10px;"><samp id="destination">destination</samp></li>
            <li align="center"><strong>Time:</strong></li>
            <li style=" padding-left:10px;"><samp id="time">time</samp></li>
            <li align="center"><strong>Passenger Number:</strong></li>
            <li style=" padding-left:10px;"><samp id="pg_num">passenger number</samp></li>
            <li align="center"><strong>Vehicle Level:</strong></li>
            <li style=" padding-left:10px;"><samp id="level">level</samp></li>
            <li align="center"><strong>Share?</strong></li>
            <li style=" padding-left:10px;"><samp id="share">share</samp></li>
            <li align="center"><strong>Status</strong></li>
            <li style=" padding-left:10px;"><samp id="status">status</samp></li>
            <li align="center"><strong>Special Request</strong></li>
            <li style=" padding-left:10px;"><samp id="special_request">special request</samp></li>
        </uL>
        <input type="button" value="Confirm" onclick="to_confirm_share()" class="confirm">
        <input type="button" value="Return" onclick="toReturn()" class="confirm_return">
        <div class="clearit"></div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    var myID = localStorage["s8"];
    document.getElementById("ID").innerHTML = myID;
    var mystart = localStorage["s1"];
    document.getElementById("start").innerHTML = mystart;
    var mydestination = localStorage["s2"];
    document.getElementById("destination").innerHTML = mydestination;
    var mytime = localStorage["s3"];
    document.getElementById("time").innerHTML = mytime;
    var mypg_num = localStorage["s4"];
    document.getElementById("pg_num").innerHTML = mypg_num;
    var mylevel = localStorage["s5"];
    document.getElementById("level").innerHTML = mylevel;
    var myshare = localStorage["s6"];
    document.getElementById("share").innerHTML = myshare;
    var mystatus = localStorage["s7"];
    document.getElementById("status").innerHTML = mystatus;
    var myrequest = localStorage["s9"];
    document.getElementById("special_request").innerHTML = myrequest ;

    function toReturn() {
        window.history.back();
    }

    function to_confirm_share() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "{% url 'claim_confirm' user.id %}");
        var params = {
            "ride_pk": myID,
            {#"start": mystart,#}
            {#"destination": mydestination,#}
            {#"time": mytime,#}
            {#"level": mylevel,#}
            {#"passenger_num": mypg_num,#}
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit()
    }
</script>

</body>
</html>