<!doctype html>
<html>
{% load static %}
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<title>login</title>
</head>

<body>
<div class="top">
<div class="logo"><img src="{% static "images/logo.gif" %}" width="187" height="47"></div>
</div>

<div class="nav">
<div class="zuo"><h2>Change Password</h2>
{% block content %}
{% if message %}
 {{ message }}
{% endif %}
<div class="form-wrapper">
   <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
           <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
             <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
           </div>
        {% endfor %}
      <div class="button-wrapper submit">
         <input type="submit" value="Submit" style="margin-top:10px;color:white;font-size:18px;width:80px; height:40px;background:#ec6a2c;"/>
      </div>
   </form>
    <a href="logout">Logout</a>
</div>
{% endblock %}
</div>


<div class="you"><img src="{% static 'images/tu.jpg' %}" width="600" height="400"></div>
</div><div class="clearit"></div>


<div class="foot"></div>
</body>
</html>